<footer class="footer_inline">
  <nav>
    <a href="/terms">Terms &amp; Conditions</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="/privacy">Privacy Policy</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><p class="small">&#169; 2019 Enlight LLC</p>
  </nav>
  <div class="stores">
    <a href="https://itunes.apple.com/us/app/enlight-app/id1216484571?ls=1&mt=8"><img src="/images/app_store_badge.svg" alt="" /></a>
    <a href="https://play.google.com/store/apps/details?id=com.enlighthq.mobile"><img src="/images/google_play_badge.svg" alt="" /></div>
  </div>
</footer>
