<header>
  <div class="content">
    <nav>
      <a href="/"><img src="/images/vota_logotype.svg" alt="" /></a>
      <a class="demoHeader" href="https://share.hsforms.com/1cTI-c6RiS4m-lmCW-T928g40tuu"
          target="popup" 
          onclick="window.open('https://share.hsforms.com/1cTI-c6RiS4m-lmCW-T928g40tuu','popup','width=600,height=600'); return false;">Request a Demo</a>
      {% assign pages_list = site.pages %}
      {% assign group = 'navigation' %}
      {% include pages_list %}
    </nav>
  </div>
</header>
