.about {
  padding-bottom: 3.75rem;

  p.overview, p.founders {
    display: block;
    margin: 6.25rem auto;
    width: 50%;
    @include bp(mama-bear) {
      width: 75%;
    }
    @include bp(baby-bear) {
      margin: 3.33333333rem auto;
      width: 100%;
    }
  }

  .illus {
    margin: 0 auto;
    max-width: 533px;
    position: relative;
    text-align: center;

    .illus_city_pin {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}
