header {
  position: sticky;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.10);
  top: 0;

  nav {
    display: flex;
    height: 3.75rem;
    align-items: center;

    a {
      margin: 0 0 0 2.5rem;
      padding: 0.4375rem 0.625rem;

      &.active {
        box-shadow: 0 -0.25rem 0 $color1 inset;
      }

      &:first-child {
        margin: 0 auto 0 0;
        padding: 0;
      }

    }

  }

}
