.home {

  .hero.row {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    @include bp(mama-bear) {
      grid-template-columns: 6fr 4fr;
      grid-column-gap: 2rem;
    }
    @include bp(baby-bear) {
      grid-template-columns: 1fr;
    }

    .use_your_words {
      margin: 6.25rem auto;
      padding: 0 3.75rem;
      @include bp(baby-bear) {
        margin: 3.125rem auto;
        padding: 0;
      }
    }

    .illus_hero {
      margin: auto;
      position: relative;
      transform: translateX(-30px);
    }

    .pill {
      background-color: $color12;
      border-radius: 15px;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 2.5rem;
      padding: 9px 15px 7px;
    }

    h1 {
      margin-bottom: 1.25rem;
    }

    p.tag {
      margin-bottom: 2.5rem;
      @include bp(baby-bear) {
        margin-bottom: 1.875rem;
      }
    }

    p.get_it {
      font-weight: bold;
      margin-bottom: 1.25rem;
    }

    .form_wrapper {
      display: block;
      @include bp(baby-bear) {
        display: none;
      }

      p {
        display: block;
      }

    }

    form {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
      @include bp(mama-bear) {
        grid-template-columns: 1fr;
      }
    }

    .stores {
      display: none;
      margin-bottom: 1.25rem;
      @include bp(baby-bear) {
        display: block;
      }

      a {
        display: inline-block;

        &:first-child {
          margin-right: 1.25rem;
        }

      }

    }

    .input_wrapper {
      height: 50px;
      position: relative;
      @include bp(mama-bear) {
        margin-bottom: 20px;
      }

      input {
        background: #fff;
        border: none;
        border-radius: 6px 0 0 6px;
        box-shadow: 0 0 0 1px $color15 inset;
        box-sizing: border-box;
        color: $color12;
        display: block;
        font-family: $font1;
        font-size: 16px;
        font-weight: normal;
        height: 100%;
        padding: 5px 10px;
        position: absolute;
        transition: opacity 200ms, transform 200ms;
        width: 100%;
        -webkit-appearance: none;
        @include bp(mama-bear) {
          border-radius: 6px;
        }

        &:focus, &.filled {
          outline: none;
          padding-top: 18px;

          + .input_label {
            color: $color12;
            cursor: default;
            font-size: 12px;
            font-weight: bold;
            padding: 0;
            pointer-events: none;
            transform: translate3d(10px, 10px, 0);
          }

        }

        &.error {
          box-shadow: 0 0 0 1px $color6 inset;
          color: $color6;

          + .input_label {
            color: $color6;

          }

          &:focus, &.filled {

            + .input_label {
              color: $color6;
            }

          }

        }

      }

    }

    .input_label {
      backface-visibility: hidden;
      box-sizing: border-box;
      color: $color12;
      cursor: text;
      display: inline-block;
      font-size: 16px;
      position: absolute;
      padding: 18px 20px 0;
      text-align: left;
      transition: all 200ms;
      transform-origin: 0% 50%;
      width: 100%;
    }

    input[type="submit"] {
      background: $grad1;
      border: none;
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      color: #fff;
      font-family: $font1;
      font-size: 16px;
      font-weight: bold;
      height: 50px;
      margin-left: -2px;
      padding-top: 4px;
      outline: none;
      transition: all 200ms ease;
      @include bp(mama-bear) {
        border-radius: 6px;
        margin-left: 0;
      }

      &:hover, &:focus {
        background: $grad1_rev;
        box-shadow: 0 3px 12px rgba($color1, 0.4);
      }

      &:active {
        box-shadow: 0 5px 15px rgba($color1, 0.4);
      }

    }

  }

  .feature.row {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    overflow: hidden;
    @include bp(papa-bear) {
      margin: 0 -1.25rem;
    }
    @include bp(baby-bear) {
      grid-template-columns: 1fr;
    }

    &.feed {
      background: $color4;

      .shot {
        align-self: end;
        padding: 2.5rem 3.75rem 0;
        height: 26.25rem;
        overflow: hidden;
        @include bp(mama-bear) {
          padding: 0 1.25rem;
        }
      }

    }

    &.activity {

      .shot {
        padding: 0 1.25rem;
        @include bp(baby-bear) {
          margin-bottom: 5rem;
          order: 2;
        }
      }

    }

    &.discover {
      background: $color16;

      .shot {
        max-width: 320px;
        position: relative;
        @include bp(baby-bear) {
          padding: 0 1.25rem;
        }

        .map {
          margin-top: -5.3125rem;
          @include bp(baby-bear) {
            margin-top: 0;
          }
        }

        .card {
          bottom: -8rem;
          position: absolute;
          left: 1.25rem;
          width: calc(100% - 2.5rem);
          @include bp(baby-bear) {
            bottom: -3.75rem;
          }
        }

      }

    }

    &.alerts {
      background: $color5;

      h3, p {
        color: $color4;
      }

      .shot {
        max-width: 399px;
        padding: 0 1.25rem;
        @include bp(baby-bear) {
          margin-bottom: 5rem;
          order: 2;
        }
      }

      .notif {
        background: rgba(248,248,248,0.82);
        box-shadow: 0 10px 20px 0 rgba($color12,0.10);
        border-radius: 13px;
      }

    }

    &.secure {
      background: $color12;

      .description {

        h3, p {
          color: $color3
        }

      }

    }

    .description {
      margin: 5rem auto 2.5rem;
      text-align: center;
      width: 50%;
      @include bp(mama-bear) {
        width: 70%;
      }
      @include bp(baby-bear) {
        margin-bottom: 0;
        padding: 0 1.25rem;
        width: 100%;
      }

      h3 {
        margin-bottom: 1.25rem;
      }

    }

    .card {
      border-radius: 6px;
      box-shadow: $card-shadow-large;
      line-height: 0;
      overflow: hidden;
    }

  }

  .iphone_frame {
    background: $color12;
    box-sizing: border-box;
    border-radius: 48px;
    box-shadow: 0 30px 60px 0 rgba($color12, 0.40), -3px -3px 13px 0 rgba(0,0,0,0.40) inset, 0 0 0 1px rgba(0,0,0,0.05);
    display: block;
    line-height: 0;
    margin: 0 auto;
    max-width: 356px;
    padding: 1.125rem;
    position: relative;
    @include bp(mama-bear) {
      box-shadow: 0 10px 20px rgba($color12, 0.40), -1px -1px 6px rgba(0,0,0,0.40) inset, 0 0 0 1px rgba(0,0,0,0.05);
    }

    &:before, &:after {
      display: block;
      position: absolute;
      height: 6px;
      width: 60px;
      left: 50%;
      top: 18px;
      margin-left: -30px;
      border-radius: 3px;
      background: darken($color12, 5);
      content:'';
    }

    &:after {
      height: 8px;
      margin-left: 40px;
      top: 17px;
      width: 8px;
    }

  }

  .footer_stacked {
    background: #fff;
    box-shadow: 0 -200px 0 #fff, 0 200px 0 #fff;
    text-align: center;
    width: 100%;
    @include bp(baby-bear){
      box-shadow: none;
      padding: 5rem 0;
    }

    ul {
      margin: 0 auto 2.5rem;
      width: 50%;
    }

    li {
      border-bottom: 1px solid $color15;

      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
        font-weight: normal;
        padding: 1.25rem 0;
      }

      p {
        color: $color13;
        padding: 1.25rem 0;
      }

    }

    .stores {
      display: grid;
      grid-gap: 0.625rem;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      width: 50%;
      @include bp(mama-bear) {
        grid-template-columns: 1fr;
        width: 100%;
      }

      a:first-child {
        justify-self: end;
        @include bp(mama-bear) {
          justify-self: center;
          margin-bottom: 1.25rem;
        }
      }

      a:last-child {
        justify-self: start;
        @include bp(mama-bear) {
          justify-self: center;
        }
      }

    }

  }

}
