/* FONTS */

$font1: 'Fira', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/* BREAKPOINTS */

$papa-bear: 1400px;
$mama-bear: 1100px;
$baby-bear: 650px;

/* MEDIA QUERIES */

@mixin bp($point) {
  @if $point == site-width {
    @media (max-width: $site-width) { @content; }
  }
  @else if $point == papa-bear {
    @media (max-width: $papa-bear) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: $mama-bear) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: $baby-bear)  { @content; }
  }
}

/* EFFECTS */

$card-shadow-large: 0 5px 20px 0 rgba($color12,0.20);

/* PLACEHOLDER TEXT FOR INPUTS */

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
