<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  {% if page.title %}
  <title>Vota - {{ page.title }}</title>
  {% else %}
  <title>Vota - Expense Cards For All</title>
  {% endif %}
  <meta name="author" content="Vota">
  <meta name="description" content="Vota - Expense Cards For All">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Vota - Expense Cards For All" />
  <meta property="og:image" content="https://vota.app/images/og_product.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="Vota - Expense Cards For All" />
  <meta name="twitter:description" content="Be your own bank. Issue cards to employees and track expenses with ease." />
  <meta name="twitter:image" content="https://vota.app/images/og_product.jpg" />
  <link rel="mask-icon" href="/images/favicon.svg" color="#32BBAB">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/apple_touch_icon.png">

  <link rel="stylesheet" href="/css/main.css?v1.1" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL33PB2N2R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SL33PB2N2R');
  </script>
</head>

  
<body ontouchstart="">
  {% include header.html %}
  <div class="main">
    {{ content }}
  </div>
  <script type="text/javascript">
    _linkedin_partner_id = "1574092";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1574092&fmt=gif" />
    </noscript>
</body>
</html>
